* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(https://source.unsplash.com/random/1200×900/?cooking);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  font-family: "Lemonada", cursive;
  
  opacity: 0.8;
  
}
h1 {
  font-size: 4rem;
  color: crimson;
  font-weight: bold;
  margin-top: 70px;
}

input,
select {
  background-color: crimson;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 1rem;
  margin: 5px;
  font-family: 'Lemonada', cursive;

}

button{
  padding: 8px;
  border-radius: 10px;
  font-family: 'Lemonada', cursive;


}
label{
  font-size: 1.5rem;
  font-family: 'Lemonada', cursive;

}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;  
  background-color: #ffffff;
  height: calc(100% - 70px);
  

}

img {
  width: 250px;
}
input[type="checkbox"] {
  display: none;
}
.App {
  text-align: center;
}
.star {
  cursor: pointer;
  color: grey;
}
