* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(https://source.unsplash.com/random/1200×900/?cooking);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  font-family: "Lemonada", cursive;

  opacity: 0.8;
}
h1 {
  font-size: 4rem;
  color: crimson;
  font-weight: bold;
  margin-top: 70px;
}
li {
  list-style-type: none;
}
i {
  font-size: 3rem;
  display: inline-block;
  margin-left: 20px;
}

input,
select {
  background-color: crimson;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  margin: 5px;
  font-family: "Lemonada", cursive;
}

button {
  padding: 8px;
  border-radius: 10px;
  font-family: "Lemonada", cursive;
  font-weight: 800;
}
label {
  font-size: 1.2rem;
  font-family: "Lemonada", cursive;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  background-color: #ccc;
  height: auto;
  padding-bottom: 20px;
  box-shadow: 10px 10px 5px crimson;
}
/* Display style */


/* Comments style */
form{
  border: solid 2px crimson;
  border-radius: 10px;
  margin: 70px;
}

textarea{
  resize: none;
  width: 60%;
  margin: 20px 0;
  background-color: crimson;
  border: none;
  border-radius: 20px;
  padding: 20px;
}
textarea,textarea::placeholder{
  font-family: 'Lemonada', cursive;
  font-size: 1.2rem;
  font-weight: bold;

}




li{
  
  font-size: 20px;
  border-radius: 10px;
  border: solid 2px crimson;
  margin: 10px;
  width: calc(100% / 3 - 20px);
}

img {
  width: 300px;
}
input[type="checkbox"] {
  display: none;
}
.App {
  text-align: center;
}
.star {
  cursor: pointer;
  color: grey;
}
